.header {
    background-color: #fafafa;
    color: #333;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: left;
    flex: 1;
    margin-left: 1vw;
}

.logo h1 {
    font-size: 36px;
    margin: 0;
    color: #333;
}

.logo p {
    font-size: 14px;
    margin: 5px 0;
    color: #666;
}

.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #ffd700;
}

.ctaButton {
    background-color: #ffd700;
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ctaButton:hover {
    background-color: #1a1a1a;
    color: #ffd700;
}

.navToggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        
    }

    .logo {
        flex-basis: 100%;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        
    }

    .logo p {
        display: none;
    }

    .navigation {
        display: none;
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
        
    }

    .navigation.visible {
        display: flex;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .navigation li {
        margin-bottom: 10px;
    }

    .navToggle {
        display: block;
        position: absolute;
        color: black;
        top: 20px;
        right: 10px;
    }

    .navToggle:hover {
        color: #ffd700;
    }
}