.bookingSection {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
    margin: 10em auto;
}

.bookingContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.bookingInfo {
    width: 50%;
    padding: 0 5%;
}

.bookingInfo h2 {
    font-size: 1.5rem;
    
    margin-bottom: 20px;
    
    color: #333;
}

.bookingInfo p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.bookingForm {
    width: 50%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

.datePicker {
    margin-bottom: 15px;
}

.datePicker p {
    font-size: 1rem;
    margin-bottom: 5px;
}

.react-datepicker-wrapper {
    margin-bottom: 10px;
}

.bookButton {
    align-self: center;
    background-color: #008f68;
    color: #fff;
    padding: 15px 24px;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.bookButton:hover {
    background-color: #006c54;
}

.bookingSummary {
    background-color: #f7f7f7;
    
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bookingSummary h3 {
    margin-top: 0;
    color: #333;
}

.bookingSummary p {
    color: #666;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .bookingContent {
        flex-direction: column;
    }

    .bookingInfo,
    .bookingForm {
        width: 100%;
    }

    .bookingInfo h2 {
        font-size: 1.25rem;
        
    }

    .bookingForm {
        order: -1;
        
    }
}