.contactSection {
    padding: 40px 0;
}

.contactForm {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contactForm h2 {
    text-align: center;
}

.contactForm input,
.contactForm textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contactForm button {
    padding: 10px 20px;
    background-color: #005f73;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}