.hero {
    background: url('/seaview1.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 150px 20px;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.heroContent {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
}

.ctaButton {
    background-color: #008f68;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.ctaButton:hover {
    transform: translateY(-3px);
}