.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 2em;
    margin: auto;
    max-width: 800px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.contactHeader {
    text-align: center;
    margin-bottom: 2em;
}

.contactHeader h2 {
    color: #005f73;
    font-size: 2em;
}

.contactCard {
    padding: 1em;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    align-items: center;
    margin: 0.5em 0;
    cursor: pointer;
    background-color: #e6f7ff;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.contactCard:hover {
background-color: #d0efff;
    /* Lighter color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Increased shadow on hover */
}

.contactCard,
.contactCard:hover,
.contactCard:focus {
    color: inherit;
}

.contactCard a {
    display: flex;
    align-items: center;
    /* Ensure vertical alignment */
    width: 100%;
}

.contactDetails {
    font-size: 1em;
    /* Adjusted for mobile readability */
    color: #333;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    /* Ensures vertical stacking of contact cards */
}

.contactDetails p {
    margin: 0.8em 0;
    /* Reduced vertical spacing */
}

.icon {
    margin-right: 10px;
    font-size: 1.5em;
    color: #005f73;
    /* Removed max-height to allow the icon to scale with font size */
}

.connectSection h3 {
    color: #005f73;
    margin-bottom: 1em;
}

.socialIcon {
    color: #005f73;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.socialIcon:hover,
.socialIcon:focus {
    color: #029dbb;
    transform: translateY(-3px);
    outline: none;
}

@media (max-width: 768px) {
    .contactSection {
        padding: 8em 1em;
        /* Adjusted padding for mobile */
    }

    .contactHeader h2 {
        font-size: 1.5rem;
        /* Font size reduced for mobile */
    }

    .contactCard {
        /* Added styling for the mobile view of contact cards */
        display: grid;
        grid-template-columns: auto 0.7fr;
        gap: 10px;
        align-items: center;
        padding: 0.8em;
    }

    .socialIcon {
        font-size: 1.25em;
        /* Slightly reduced for mobile */
    }

    .icon {
        font-size: 1.25em;
        /* Reduced icon size for mobile */
    }
}