.container {
    background: url('/summergetaway.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    
}

.overlay {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    
    z-index: 1;
}

.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1em;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 2;
    position: relative;
    
}

.contactHeader {
    text-align: center;
    margin-bottom: 1em;
    
}

.contactHeader h2 {
    color: #0277bd;
    
    font-size: 2.5em;
    
    font-weight: bold;
    
}

.contactCard {
    padding: 1em;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    align-items: center;
    margin: 0.5em 0;
    cursor: pointer;
    background-color: #ffffff;
    
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.contactCard:hover {
    background-color: #f1f1f1;
    
    transform: scale(1.02);
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactCard a {
    display: flex;
    align-items: center;
    width: 100%;
    color: #005f73;
    
}

.contactDetails {
    font-size: 1em;
    color: #333;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.contactDetails p {
    margin: 0.8em 0;
}

.icon {
    margin-right: 10px;
    color: #005f73;
}

.connectSection h3 {
    color: #005f73;
    margin-bottom: 1em;
    font-size: 2em;
    
}

.socialIcon {
    color: #005f73;
    font-size: 1.5em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.socialIcon:hover,
.socialIcon:focus {
    color: #029dbb;
    transform: translateY(-3px);
    outline: none;
}

@media (max-width: 768px) {
    .contactHeader h2 {
        font-size: 1.5rem;
        
    }

    .contactCard {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 10px;
        align-items: center;
        padding: 0.8em;
    }

    .socialIcon {
        font-size: 1.25em;
        
    }

    .icon {
        font-size: 1.25em;
        
    }
}